<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit chat</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Chat id : <%= data.id %></h1>
    <div class="new">
        <fieldset>
            <center><h2>Edit</h2></center>
                <b>Name : </b><input type="text" name="from" value="<%= data.from %>" readonly><br><br>
                <b>To : </b><input type="text" name="to" value="<%= data.to %>" readonly ><br><br>
                <form action="/chats/<%= data._id %>?_method=PUT" method="post" autocomplete="off">
                    <b>Message : </b><textarea name="msg" id="" rows="5" placeholder="Type your message..." autofocus><%= data.msg %></textarea><br>
                <button type="submit" class="submit">Update</button>
            </form>
        </fieldset>
    </div>
</body>
</html>


