<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whatsapp</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>All Chats : </h1>
    <form action="/chats/new">
        <button class="add"><b>+ Chat</b></button>
    </form><br>
    <% for(let chat of chats) {%>
        <div class="chat">
            <form action="/chats/<%= chat.id %>/edit">
                <button class="edit">Edit</button>
            </form>
            <p class="from"><b>From :</b> <%= chat.from %></p>
            <p class="to"><b>To :</b> <%= chat.to %></p><hr>
            <p class="msg"> <%= chat.msg %></p><hr>
            <p class="date"><%= chat.create_at.toString().split(' ')[4] %></p>
            <p class="date"><%= chat.create_at.toString().split(' ').slice(0,4).join(' ') %> ,</p>
            <form action="/chats/<%= chat.id %>?_method=DELETE" method="post">
                <button class="delete">Delete</button>
            </form>
        </div>
        <% } %>
</body>
</html>